# OpenML dataset: **_first-order-theorem-proving_**
## **Description**
**Author**: James P Bridge, Sean B Holden and Lawrence C Paulson
**Source**: [UCI](https://archive.ics.uci.edu/ml/datasets/First-order+theorem+proving)
**Please cite**: James P Bridge, Sean B Holden and Lawrence C Paulson . Machine learning for first-order theorem proving: learning to select a good heuristic. Journal of Automated Reasoning, Springer 2012/13.

Source:

James P Bridge, Sean B Holden and Lawrence C Paulson

University of Cambridge

Computer Laboratory

William Gates Building

15 JJ Thomson Avenue

Cambridge CB3 0FD
### Uk
+44 (0)1223 763500

forename.surname '@' cl.cam.ac.uk

Data Set Information:

See the file dataset file.

Attribute Information:

The attributes are a mixture of static and dynamic features derived from theorems to be proved. See the paper for full details.

In [1]:
import openml

dataset = openml.datasets.get_dataset(1475)
X, y, cat_atr_mask, names = dataset.get_data(
    target=dataset.default_target_attribute, dataset_format="dataframe"
)

In [2]:
X.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V42,V43,V44,V45,V46,V47,V48,V49,V50,V51
0,1.4895,0.81688,2.1168,1.7836,1.5346,-0.30543,-1.2477,-0.14537,-0.59356,-0.23316,...,-0.16374,0.026975,1.8323,0.97743,2.6676,1.6803,-0.48278,1.4630,0.27015,-1.5559
1,1.4895,0.81688,2.1168,1.7895,1.5403,-0.31850,-1.2477,-0.14537,-0.59356,-0.23316,...,-0.16374,0.026975,1.8323,0.97743,2.6676,1.6974,-0.48278,1.4801,0.21361,-1.5559
2,1.4895,0.81688,2.1168,1.7836,1.5346,-0.30543,-1.2477,-0.14537,-0.59356,-0.23316,...,-0.16374,0.026975,1.8323,0.97743,2.6676,1.6917,-0.48278,1.4744,0.23245,-1.5559
3,1.4895,0.81688,2.1168,1.7836,1.5346,-0.30543,-1.2477,-0.14537,-0.59356,-0.23316,...,-0.16374,0.026975,1.8323,0.97743,2.6676,1.6575,-0.48278,1.4401,0.34553,-1.5559
4,1.4895,0.81688,2.1168,1.7836,1.5346,-0.30543,-1.2477,-0.14537,-0.59356,-0.23316,...,-0.16374,0.026975,1.8323,0.97743,2.6676,1.6632,-0.48278,1.4458,0.32669,-1.5559

In [3]:
y.head()

0    6
1    1
2    6
3    6
4    6
Name: Class, dtype: category
Categories (6, object): ['1' < '2' < '3' < '4' < '5' < '6']